.serial_item{
    text-align: center;
    margin-bottom: 30px; 
}
.serial_item img{
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 319px;
}
.butt_group{
    width: 100%;
    background-color: #000000d4;
    padding: 20px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.butt_group h3{
  font-size: 24px;
  color: #ffffff80;
  margin-bottom: 15px;
}
.btn{
    padding: 2px 27px;
}
a.btn_link{
    color: #000;
}
.btn_detail,
.btn_link{
    background-color: #9399a0;
}
.btn_detail:hover,
.btn_link:hover{
    background-color: #ccc;
}
