.main{
    height: 100vh;
}
.carousel-item.active, .carousel-item-next, .carousel-item-prev{
    height: 250px;
}
.carousel{
    background-color: #000000b8;
    margin-top: 65px;
    border-radius: 20px;
}