.delete{
    width: 100%;
    background-color: #000000d4;
    padding: 40px;
    border-radius: 15px;
    color: #ccc;
}
.delete img{
    width: 100%;
    height: 100%;
}
a.btn_del{
    color: #000;
}
.btn_del{
    background-color: #9399a0;
}
.btn_del:hover{
    background-color: #ccc;
}