.delete{
    width: 100%;
    background-color: #000000d4;
    padding: 20px;
    border-radius: 15px;
    color: #ccc;
}
.delete img{
    width: 100%;
    height: auto;
    margin: 20px 0;
}
.btn{
    padding: 2px 20px;
}
.btn_del{
    background-color: #ccc;
}
.btn_del:hover{
    background-color: #9399a0;
}