.edit{
    background-color: #000000d4;
    border-radius: 20px;
    padding: 20px 0;
}
.edit input,
textarea{
    background-color: transparent;
    color: #999999;
}
.form-control:focus{
    background-color: transparent;
    color: #999999;
}
.edit label{
    color: #999999;
    font-weight: bold; 
}
.edit button{
    margin: 10px 0 0 0;
    width: 100%;
}