          <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item">
              
                  <div class="container">
                    <div class="carousel-caption no_butt">
                      <h1>Welcome to the Serialzzz app!</h1>
                      <p>This is demonstration application developed on the Angular5</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Use the Firebase in your test-project</h1>
                      <p>In this project I used the Firebase as API</p>
                      <p><a class="btn" href="https://firebase.google.com/" target="_blank" role="button">More about Firebase</a></p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item active">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>More functionality!</h1>
                      <p>You can add, delete and edit serials.</p>
                      <p><a class="btn" href="https://github.com/petromath77/serialApp" target="_blank" role="button">Code on Github</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

